## Test Your Knowledge

In the blocks below you will find a range of questions that cover the material we've looked at in previous notebooks. Make sure you can do these tasks before you move on to the final notebook in this topic, which covers some slightly more advanced aspects of variables in Python.

1) Translate the following sentences into Python algebraic or Boolean expressions, and evaluate them in the notebook:

a) The total of £14.99, £27.95 and £19.83

In [11]:
total_price=14.99+27.95+19.83
print(total_price)

62.769999999999996

b) The area of a rectangle with length 20 and width 15

In [12]:
total_area=20*15/2
print(total_area)

150.0

c) 2 to the power 10

In [13]:
power_answer=2**10
print(power_answer)

1024

d) 17 modulo 5

In [14]:
modulo_answer=17%5
print(modulo_answer)

2

e) Check if the number 284 is even

In [29]:
n=284
if n%2==0:
    print(str(n)+' is even')
else:
    print(str(n)+' is odd')

284 is even

f) Check if the number 284 is even and is divisible by 3

In [31]:
n=284
if n%2==0:
    print(str(n)+' is even')
    n=n/3
    print(n)
else:
    print(str(n)+' is odd')

284 is even
94.66666666666667

<br>

2) Now for something a little different. In each of the code blocks below is a Boolean expression where I have removed the brackets. Try to add the brackets to each expression in such a way that it evaluates to `True`.

In [37]:
a = 0 == (1 == 2）
print(a)

True

In [20]:
b = 2 + (3 == 4) + 5 == 7
print(b)

True

In [6]:
c = (3 < 4 and 5 < 4) or (1 < 2 and not 1 < 1)
print(c)

True

In [25]:
d = (1 < 2 and 2 < 1) or not (2 < 4 and 3 < 1)
print(d)

True

<br>

If you're not confident with your solutions, you should ask a demonstrator to explain any concepts you don't fully understand. The demonstrators will occasionally drop in to your breakout rooms to see how you are getting on with the tasks, and you should show them your solutions to check if they are correct. Once you've completed this and you're confident you have the correct answers, feel free to move on to the final notebook in this topic.